@import './fonts.scss';

* {
   margin: 0;
   padding: 0;
}

:root {
   padding: 20px;
   font-family: CirceRounded;
   font-weight: 400;

   width: 100%;
   height: 100%;
 }
 .header {
   padding: 20px;
   background-color: green;
   font-size: 600;
   font-weight: 36px;
 
}
.sub-header {
   background-color: #fff;
   font-weight: 24px;
   margin-top: 20px;
   margin-bottom: 20px;
}