.menu{
   width: 236px;
   height: 704px;
   position: fixed;
   top: 24px;
   left: 50px;
   border-radius: 30px;
   background: #EEEEFF;
   margin: 0;

   .menu-logo{
      width: 148px;
      height: 58px;
      margin-top: 44px;
      margin-left: 44px;
   }
   .menu-list{
      width: 216px;
      height: 360px;
      margin-top: 40px;
   .list-item{
      list-style-type: none;
      width: 172px;
      height: 40px;
      padding-left: 44px;
      gap: 8px;
      border-radius: 0px 30px 30px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #434B74;


   }
   .list-item-img{
      width: 24px;
      height: 24px;
      
   }
   .list-item-name{
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;

   }
   }
}