.menu{
   width: 236px;
   height: 704px;
   position: fixed;
   top: 24px;
   left: 50px;
   border-radius: 30px;
   background: #EEEEFF;
   margin: 0;

   .menu-logo{
      width: 148px;
      height: 58px;
      margin-top: 44px;
      margin-left: 44px;
   }
   .menu-list{
      width: 216pxpx;
      height: 360pxpx;
      margin-top: 142px;

   }
}